@page "/bio"

<h3>Bio</h3>



<p class="BioLargeIndicators">
    Full Name: Henry George Walker Jr.<br /> </p>

<p class="BioLargeIndicators">
    Age: </p> <p> 19 <br /> </p>
   
<p class="BioLargeIndicators">
    Gender: </p> <p> Male <br /> 
     </p>
<p class="BioLargeIndicators">
    Hair: </p> <p> Brown <br /> </p>

<p class="BioLargeIndicators">
    Eye: </p> <p> Hazel <br /> </p>

<p class="BioLargeIndicators">
    Height: </p> <p> <!-- Placeholder --> <br /> </p>

<p class="BioLargeIndicators">
    Description: </p> <p> 
    
    Henry Walker was born on Febuary 28, 2003 in Pennslyvania to his mother, Faith Walker
    and his father Henry George Walker Senior. He has two older sisters Alyssa Bryan and Patricia Karcewski,
    three nieces Maddison Karcewski, Ashley Karcewski, and Layken Bryan, as well as a nephew Brayden Bryan. <br />

    <br /> 
    </p>
@code {
    
}
