@page "/contact"
<h3>Contact</h3>
<p class="ContractIntro">
    If you would like to Find or contact me you can go to the emaill page or you can use one of these
    methods:
</p>
<p class="LargeIndicators">Email: </p> <p> Fakeemail@contact.com</p>
<p class="LargeIndicators">Phone Number: </p> <p> (012) 345-6789</p>
<p class="LargeIndicators">Mailing adress: </p> <p> 123 RandonPlace Drive ATown, PN 01234 </p>
<p class="LargeIndicators">Github page: </p> <p> github/Hgwalker</p>
<p class="LargeIndicators">Facebook: </p> <p> m.facebook.com/100078152065712/</p>

@code {
    
}
