@page "/education"

<h3>Education</h3>
<p class="EducationDescription">
    Henry Walker attended Osceola Mills Elementary School, Philipsburg Osceola Middle 
    School, and Philipsburg Osceola High School graduating in 2021. Currently he is 
    attending South Hills School of Business and Technology, and is currently in his 
    second year of its Software Development Program.
</p>
@code {

}
