@page "/"

<PageTitle>Index</PageTitle>

<p class= "PageIntro">
    Hello, Welcome to the professional web application of Henry George Walker Jr. 
    
</p>

<p class="IntroDescription">
    Here you will be able to see a short biography about him, his education background,
    how to contact him, and examples of his work.
</p>


