@page "/work"

<PageTitle>Work</PageTitle>

<h1>Work Examples</h1>

<p class="WorkDescription">Program I wrote to check if a Zipcode is in a companies delivery area:</p>

<p class="Links">github.com/HgWalker/CheckZips</p>

<p class="WorkDescription">
    Program I wrote to for a fictional company called "Marshall’s Murals" It will
    prompt a user for the number of interior and exterior murals scheduled
    to be painted during the next month, computes the expected revenue for
    each type of mural, with interior murals costing $500 each, and exterior murals
    costing $750 each, and then displays the total expected revenue and a
    statement that indicates whether more interior murals are scheduled
    than exterior ones:
    
     </p>

<p class="Links">github.com/HgWalker/Marshalls-Murals</p>

<p class="WorkDescription">Graghic arts image repersenting joy I designed and created:</p>


<p><!-- Placeholder --></p>

@code {

}
